.masthead {
    background-color: #F27C38;
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #F2DCC2;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}